html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial;
}

.page-1 {
    height: 940px;
    background: linear-gradient(170deg, #eb402c 1%, #d90647 75%, #ffffff 24%);
    width: 100%;
}

.navbar {
    margin-right: 40px;
    text-align: right;
}
.nav-but {
    border: none;
    background: transparent;
    color: white;
    padding-right: 30px;
    margin-top: 30px;
    font-size: 20px;
}

a:hover > button { text-decoration: underline; }

.nav-brand  {
    float: left;
    font-weight: 400;
    margin-top: -30px;
    margin-left: 30px;
    color: white;
    font-size: 35px;
}

.page-1 > .float-right, .page-1 > .float-left { margin-top: 100px; }

.float-right {
    float: right;
    width: 670px;
    color: white;
}

.float-left {
    width: 650px;
    float: left;
    color: white;
}

.page-1 > .float-left > h1 { font-size: 66px; }
.page-1 > .float-left > p { font-size: 25px; }

.page-1 > .float-left > button {
    background: white;
    border: none;
    padding: 13px 45px 13px 45px;
    border-radius: 25px;
    font-weight: 700;
    margin-top: 100px;
    color: #d90647;
    font-size: 17px;
}
.float-left > .msg2 {
    position: absolute;
}
.page-2 {
    height: 700px;
    width: 100%;
    text-align: center;
}

.msg2 {
    margin-left: -210px;
    margin-top: 60px;
}

.page-2 > .float-right > h1, .page-3 > .float-left > h1, .page-4 > h1, .page-6 > h1, .page-7 > h1{
    font-size: 60px;
    color: black;
}

.page-2 > .float-right {
    text-align: left;
    margin-top: 180px;
    margin-right: 20px;
}

.page-2 > .float-right > p {
    font-size: 18px;
    font-weight: 500;
    margin-right: 58px;
    color: #808080;
}
.stsg {
    font-size: 70px;
    color: #d90647;
}

.page-3 { height: 780px;}

.page-3 > .float-left, .page-3 > .float-right { margin-top: 80px; }
.con1 { position: absolute; }

.page-3 > .float-right {
    text-align: center;
    margin-right: 230px;
    margin-left: -130px;
}
.con2 {
    margin-top: -80px;
    margin-right: -530px;
}

.page-3 > .float-left {
    margin-top: 150px;
    text-align: left;
    margin-left: 130px;
    margin-right: -100px;
}

.page-3 > .float-left > p {
    font-size: 18px;
    margin-right: 80px;
    font-weight: 500;
    color: #808080;
}

.page-4 {
    width: 100%;
    text-align: center;
    height: 650px;
}

.com-win {
    height: 200px;
    float: left;
    width: 350px;
    margin-left: 120px;
    text-align: left;
}

.com-win > img {
    float: left;
    margin-top: 30px;
}
.name {
    margin-top: 40px;
    margin-left: 90px;
    color: #363636;
    font-weight: 500;
}

.ceo {
    margin-top: -20px;
    margin-left: 90px;
    color: #808080;
    font-weight: 600;

}
.com-sec, .com-main {
    margin-top: 80px;
    height: 170px;
    width: 300px;
    color: #808080;
    font-style: italic;
    font-weight: 500;
    border: 1px solid grey;
    padding: 10px 20px 0px 20px;
    //margin-left: 120px;
}

.cmsg {
    font-style: normal;
    font-size: 18px;
    color: #d90647;
    font-weight: 500;
}

.com-main {
    margin-top: 50px;
    box-shadow: 0 30px 60px rgba(54, 54, 54, 0.15);
    background-color: #ffffff;
    border: none;
}

.tri {
    width: 20px;
    height: 20px;
    background: white;
    margin-top: 17px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    transform: rotate(45deg);
}
.com-main > .tri { border: none; }


.page-5 {
    height: 650px;
    margin-top: 80px;
    width: 100%;
    text-align: center;
}
.box {
    height: 515px;
    background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
    width: 100%;
}
.play-tra {
    position: relative;
    top: -655px;
    left: 606px;
    height: 519px;
    width: 292px;
    background: #000000;
    opacity: 0.6;
}
.play-pho, .play-img {
    margin-top: -85px;
}
.play-img {
    top: -910px;
    position: relative;
    left: -10px;
}

.page-6 {
    height: 450px;
    width: 100%;
    text-align: center;
}

.page-6 > p, .page-7 > p {
    font-weight: 500;
    color: #808080;
    font-size: 18px;
    margin-bottom: 100px;
}

.page-6 > input {
    border-radius: 25px;
    background: #f8f8f8;
    width: 571px;
    margin-left: 170px;
    height: 50px;
    border: none;
    color: #808080;
    padding-left: 30px;
    font-size: 18px;
}

.page-6 > button {
    position: relative;
    left: -180px;
    height: 50px;
    width: 200px;
    background-image: linear-gradient(to top, #eb402c 0%, #d90647 100%);
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    font-weight: 300;
}

.page-7 {
    margin-top: 110px;
    width: 100%;
    text-align: center;
}

.page-7 > img { margin-bottom: -60px;}